django==2.2.*
djangorestframework==3.11.*
django-cors-headers==3.2.*
django-environ==0.4.*
django-heroku==0.3.*
psycopg2-binary==2.8.*
Pillow==7.1.*
graphene-django==2.9.*
django-graphql-jwt==0.3.*
factory-boy==2.12.*
gunicorn==20.0.*
whitenoise==5.1.*

graphene~=2.1.8
Faker~=4.0.3